body{
	line-height: 1.5;
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.header {
	font-size: 20px;
	display: flex;
	border-bottom: 1px solid #000;
	padding: 10px 20px;
	align-items: center;
}

a, .logo{
	font-family: Roboto, sans-serif;
	font-weight: 700;
}

a{
	color: #663399;
	text-decoration: none;
	
}

h1, h2, h3{
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

.logo {
	margin-right: 50px;
	text-decoration: none;
	color: #90EE90;
	background-color: #663399;
	padding: 5px 15px;
}

.nav ul{
	display: flex;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

ul li:not(:last-child){
	margin-right: 30px;
}

.box {
	display: flex;
	margin-bottom: 30px;
	gap: 20px;
	border-bottom: 1px solid #000;
}

.aside {
	padding: 10px 20px;
	background-color: #e6e6fa;
}

section{
	background-color: #e6e6fa;
	padding: 5px 20px;
	margin-bottom: 20px;
}

.post {
	padding-bottom: 20px;
}

.footer{
	font-size: 13px;
	padding: 0px 20px;
}